@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

:root {
  --bg-intro-email: hsl(217, 28%, 15%);
  --bg-main: hsl(218, 28%, 13%);
  --bg-footer: hsl(216, 53%, 9%);
  --bg-testimonials: hsl(219, 30%, 18%);

  --accent-teal: hsl(176, 68%, 64%);
  --accent-cyan: hsl(198, 60%, 50%);
  --error-red: hsl(0, 100%, 63%);

  --white: hsl(0, 0%, 100%);
  --paled: #ffffffcc;

  --font-headings: 'Raleway', sans-serif;
  --font-body: 'Open Sans', sans-serif;
  --base-size: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  font-size: var(--base-size);
  font-weight: 400;
  background-color: var(--bg-main);
  color: var(--white);
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  line-height: 1.5;
  letter-spacing: 0.8px;
}

h1,
h2,
h3,
h4,
a,
.btn-gradient {
  font-family: var(--font-headings);
}

.paled {
  color: var(--paled);
}

img {
  max-width: 100%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
  color: var(--white);
}

a:hover {
  color: var(--white) !important;
}

p {
  color: var(--paled);
}

/* Utility classes */
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 50px;
}

.btn-gradient {
  background: linear-gradient(to right, var(--accent-teal), var(--accent-cyan));
  color: var(--white);
  border: none;
  width: fit-content;
  padding: 15px 80px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 700;
}

.btn-gradient:hover {
  filter: brightness(1.15);
}

header,
.intro {
  background-color: var(--bg-intro-email);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding-top: 25px !important;
}

header .logo {
  width: 125px;
}

header nav ul {
  display: flex;
  gap: 20px;
}

header nav ul li a {
  opacity: 0.8;
}

header nav ul li a:hover {
  opacity: 1;
  text-decoration: underline;
}

main {
  position: relative;
  background-color: var(--bg-main);
  padding-bottom: 100px !important;
  z-index: 1;
}

/* Begin of intro section */
.intro {
  background-color: var(--bg-intro-email);
  padding-bottom: 14em;
  background-image: url("../images/bg-curvy-desktop.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  margin-inline: -50px;
}

.intro .intro-photo,
.intro .intro-content {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.intro-content h1 {
  font-size: 2.9em;
  margin: 15px auto;
}

.intro-content p {
  margin: 25px auto;
  width: 75%;
  text-align: center;
  font-size: 1.4em;
}
/* End of intro section */

/* Begin features section*/
.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  gap: 70px 0;
  margin-top: -3.5em;
}

.feature-item {
  text-align: center;
}

.feature-item h3 {
  margin-top: 25px;
}

.feature-item p {
  width: 65%;
  margin: 8px auto;
}
/* End features section*/

/* Begin productivit section */
.productivity {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 40px;
  margin-top: 10em;
}

.productivity .productivity-content>* {
  margin: 15px 0;
  cursor: pointer;
}

.productivity .productivity-content h2 {
  font-size: 2.9em;
  width: 65%;
}

.productivity .productivity-content p {
  width: 90%;
}

.productivity-content .more-work a {
  display: flex;
  align-items: center;
  gap: 3px;
  width: fit-content;
  color: var(--accent-teal);
  padding: 3px 0;
  border-bottom: 1px solid currentColor;
}

.more-work a img {
  margin-top: 1px;
}
/* End productivit section */

/* Begin reviews section */
.reviews {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(365px, 1fr));
  gap: 30px;
  margin-top: 10em;
}

.reviews .review-card {
  background-color: var(--bg-testimonials);
  padding: 15px 30px;
  border-radius: 5px;
}

.reviews .review-card:first-child {
  position: relative;
  z-index: 1;
}

.reviews .review-card:first-child::after {
  content: '';
  position: absolute;
  top: -26px;
  left: -6px;
  width: 40px;
  height: 40px;
  background-image: url(images/bg-quotes.png);
  background-repeat: no-repeat;
  background-size: 40px;
  z-index: -1;
}

.reviews .review-card p {
  margin-top: 20px;
  font-size: medium;
}

.reviews .review-card .profile {
  margin-top: 25px;
  display: flex;
  gap: 8px;
}

.review-card .profile img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0;
}

.review-card .profile .info * {
  margin: 0;
}

.review-card .profile .info h4 {
  font-size: smaller;
}

.review-card .profile .info p {
  font-size: xx-small;
  font-weight: 700;
  margin-top: 2px;
  opacity: 0.9;
}
/* End reviews section */

/* Begin sign up div */
.sign-up {
  background-color: var(--bg-intro-email);
  width: 63%;
  padding: 20px 0px;
  text-align: center;
  border-radius: 10px;
  margin-inline: auto;
  margin-bottom: -195px;
  margin-top: 100px;
}

.sign-up>* {
  margin: 10px 0;
}

.sign-up h2 {
  font-size: 2.3em;
}

.sign-up p {
  width: 80%;
  margin: 0 auto;
}

.sign-up .actions {
  margin-top: 23px;
  display: flex;
  align-items: center;
  width: 85%;
  margin-inline: auto;
  gap: 15px;
}

.sign-up .actions .input-box {
  flex: 1;
  position: relative;
}

.sign-up .actions .input-box input {
  width: 100%;
  padding: 12px 15px;
  border-radius: 25px;
  border: none;
  outline: none;
  text-indent: 13px;
}

.sign-up .actions .input-box small {
  position: absolute;
  bottom: -18px;
  left: 27px;
  font-size: x-small;
  color: var(--error-red);
  font-weight: 700;
  opacity: 0;
  transition: opacity 0.3s;
}

.sign-up .actions .input-box input:user-invalid~small {
  opacity: 1;
}

.sign-up .actions button {
  padding: 11px 25px;
}
/* End sign up div */

/* Begin footer */
footer {
  padding: 10em 5em !important;
  background-color: var(--bg-footer);
  padding-bottom: 1.7em !important;
}

footer>img {
  display: inline-block;
  width: 160px;
}

footer .row {
  margin-top: 23px;
  display: grid;
  grid-template-columns: 360px repeat(3, auto);
  gap: 30px;
}

.row .location {
  display: flex;
  align-items: baseline;
  gap: 15px;
}

.row .location .icon {
  display: flex;
  align-items: center;
}

.location .icon img {
  width: 20px;
}

.row .contact>div {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 15px;
  /* margin-left: 25px; */
}

.row .contact {
  justify-self: center;
}


footer .row .nav {
  display: flex;
  gap: 50px;
}

.nav>div ul li {
  margin-bottom: 10px;
  font-weight: 700;
  opacity: 0.73;
}

.nav>div ul li:hover {
  opacity: 1;
}

.row .social-icons {
  display: flex;
  align-items: center;
  gap: 12px;
}

.row .social-icons .icon i {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.row .social-icons .icon:hover i {
  color: aqua;
  border: 1px solid var(--accent-teal);
}

/* End footer */



@media (max-width: 1000px) {


  .container {
    padding: 0 20px;
  }

  body {
    height: auto;
  }

  header {
    height: 80px;
    padding-top: 15px !important;
  }

  header .logo {
    width: 80px;
  }

  header nav ul {
    gap: 15px;
    font-size: 12px;
  }


  .intro {
    padding-bottom: 5em;
    margin-inline: -20px;
    background-image: url("images/bg-curvy-mobile.svg");
  }

  .intro .intro-photo,
  .intro .intro-content {
    width: 90%;
  }

  .intro-content h1 {
    font-size: 1.8em;
  }

  .intro-content p {
    font-size: 1em;
    width: 80%;
  }

  .features {
    grid-template-columns: 1fr;
    gap: 80px;
  }

  .feature-item p {
    width: 80%;
  }

  .productivity {
    grid-template-columns: 1fr;
    text-align: center;
    margin-top: 5em;
  }

  .productivity .productivity-content h2 {
    font-size: 1.5em;
    width: 100%;
  }

  .productivity .productivity-content p {
    width: 100%;
    text-align: left;
  }

  .productivity-content .more-work a {
    margin: 0 auto;
  }

  .reviews {
    grid-template-columns: 1fr;
    margin-top: 5em;
    padding: 0 20px;
  }

  .sign-up {
    width: 90% !important;
    padding: 10px !important;
    margin-top: 115px;
    margin-bottom: -270px;
  }

  .sign-up h2 {
    margin-inline: auto;
    width: 100% !important;
    font-size: 1.7rem !important;
  }

  .sign-up>* {
    width: 90% !important;
  }

  footer {
    padding-top: 15em !important;
  }

  footer .row {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .row .nav {
    flex-direction: column;
    gap: 20px !important;
  }

  .row .contact {
    justify-self: unset !important;
  }

  .row .social-icons {
    justify-self: center;
  }

}


@media (max-width: 767px) {
  .sign-up .actions {
    flex-direction: column;
    gap: 25px;
  }

  .sign-up .actions .input-box,
  .sign-up .actions button {
    width: 100%;
    margin: 0;
  }
}